@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}

.my-btn {
  width: max-content;
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
  border: none;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 20px;
}

.my-btn:hover {
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
}

.section-title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

.section-subtitle {
  font-size: 15px;
  margin-bottom: 25px;
}